* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	width: 0px;
	height: 0px;
}

body {
	font-family: sans-serif;
	padding: 0 20px;
}

h1 {
	line-height: 1.4em;
	font-size: 1.2em;
	padding: 1em 0;
}
code {
	display: block;
	padding: 1em;
	white-space: pre;
	clear: both;
	background: #fafafa;
	border: 1px solid #eee;
}
.results {
	padding-top: 1em;
	list-style: none;
}

.results li {
	display: block;
	white-space: pre;
	padding: 3px 0;
	border-bottom: 1px solid #eee;
	font-family: monospace;
}

.results li i:first-child {
	font-size: 14px;
	line-height: 1.2em;
	font-weight: bold;
	color: blue;
	float: left;
	padding-right: 5px;
}

.button-bar {
	margin-top: 1em;
	text-align: right;
}

button {
	display: inline-block;
	margin-left: 10px;
	padding: 4px 12px;
	background: whiteSmoke;
	border: 1px solid #999;
	color: #333;
	border-radius: 3px;
}

button.submit {
	background: #284CCC;
	border-color: #2B428C;
	color: white;
	font-weight: bold;
}

button.edit {
	background: #F7F14C;
	border-color: #A5A038;
	color: #594E30;
	font-weight: bold;
}

.modal {
	position: fixed;
	z-index: 2;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	border: 1px solid #ddd;
	background: #fafafa;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 6px #ccc;
}

.modal textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px;
}

.modal h2 {
	font-size: 1.3em;
	padding: 0 0 1em 0;
}
